html {
    background: #123;
  }
  
  #background {
    display: block;
    font-size: 52px;
    color: transparent;
  }
  
  #background::before, #background::after {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    content: ".";
    mix-blend-mode: screen;
    animation: 44s -27s move infinite ease-in-out alternate;
  }
  
  #background::before {
    text-shadow: 1.2587475298em -0.1342601434em 7px rgba(255, 186, 0, 0.9), 0.6590134095em 1.5009035497em 7px rgba(204, 0, 255, 0.9), 1.1798048893em 0.3449856204em 7px rgba(0, 170, 255, 0.9), 0.4098830987em 0.2130691994em 7px rgba(0, 255, 140, 0.9), 1.8573683257em 1.5660094326em 7px rgba(0, 255, 85, 0.9), -0.0295291003em 2.3256520257em 7px rgba(255, 0, 67, 0.9), 1.3369189255em 0.4520855749em 7px rgba(0, 193, 255, 0.9), 2.3063663974em 0.9637476567em 7px rgba(113, 0, 255, 0.9), 0.0194766258em 0.1396180345em 7px rgba(255, 0, 78, 0.9), 0.3020754458em 2.1039841446em 7px rgba(0, 255, 253, 0.9), 1.9962981183em 1.0912391582em 7px rgba(170, 0, 255, 0.9), -0.1791572484em 0.1111273436em 7px rgba(255, 0, 77, 0.9), 1.1318288914em 2.3442782909em 7px rgba(0, 127, 255, 0.9), 0.1656997339em 0.7524999781em 7px rgba(124, 255, 0, 0.9), 0.3877923661em 1.0269023902em 7px rgba(255, 0, 182, 0.9), 2.3759355266em 2.3546778813em 7px rgba(30, 0, 255, 0.9), 2.001526309em 0.7539524087em 7px rgba(255, 0, 244, 0.9), 0.5640440829em 1.5124886571em 7px rgba(255, 0, 108, 0.9), 0.8828031491em 2.0384420193em 7px rgba(255, 0, 76, 0.9), 0.1617814578em -0.1571189746em 7px rgba(0, 48, 255, 0.9), -0.4935445496em 1.8122366919em 7px rgba(255, 0, 134, 0.9), 1.1998691827em 1.1281630804em 7px rgba(0, 6, 255, 0.9), -0.2371849272em 1.8501270295em 7px rgba(255, 0, 219, 0.9), 1.833824336em 1.288304753em 7px rgba(255, 248, 0, 0.9), -0.4664152741em 1.6689277553em 7px rgba(255, 0, 66, 0.9), 0.5631751148em -0.3371818164em 7px rgba(0, 255, 91, 0.9), -0.1537806546em -0.2543853178em 7px rgba(255, 126, 0, 0.9), 0.8460832057em 0.2050366492em 7px rgba(254, 0, 255, 0.9), -0.1232319644em 1.9180844659em 7px rgba(255, 0, 207, 0.9), -0.1300561252em 0.6344337345em 7px rgba(255, 0, 67, 0.9), -0.2821103834em 2.0427535458em 7px rgba(255, 228, 0, 0.9), 1.9182453836em 0.7118758771em 7px rgba(255, 0, 83, 0.9), 1.5184260215em 1.6416129744em 7px rgba(255, 255, 0, 0.9), 0.7003571905em 1.8973364238em 7px rgba(242, 0, 255, 0.9), 1.9349800876em 0.6070646977em 7px rgba(255, 161, 0, 0.9), 0.5043249369em 0.5688885735em 7px rgba(0, 255, 222, 0.9), 0.8173037709em -0.1612330354em 7px rgba(0, 255, 96, 0.9), 1.763427754em 1.9435898506em 7px rgba(119, 0, 255, 0.9), 1.317232355em -0.0723639699em 7px rgba(94, 255, 0, 0.9), 0.7403206938em -0.2924939739em 7px rgba(255, 0, 109, 0.9), 0.5347610622em 2.241158376em 7px rgba(5, 0, 255, 0.9);
    animation-duration: 44s;
    animation-delay: -27s;
  }
  
  #background::after {
    text-shadow: 1.0496848902em -0.4617230242em 7px rgba(0, 47, 255, 0.9), 2.3624689585em 1.9264927863em 7px rgba(0, 255, 19, 0.9), 2.2445380054em 0.950290723em 7px rgba(255, 0, 27, 0.9), 1.6402691166em 0.6443688298em 7px rgba(0, 83, 255, 0.9), 0.5679045853em 2.4761362892em 7px rgba(0, 24, 255, 0.9), 2.4095904721em 2.0535346963em 7px rgba(0, 133, 255, 0.9), 1.2828843002em 2.4815703437em 7px rgba(0, 255, 123, 0.9), 0.7769317561em 1.2812283898em 7px rgba(114, 0, 255, 0.9), 1.2919590587em 2.0546499446em 7px rgba(255, 7, 0, 0.9), 0.3973343061em 2.1649254618em 7px rgba(0, 143, 255, 0.9), 2.2149496988em 0.6483187969em 7px rgba(247, 255, 0, 0.9), -0.1757984147em 0.5374732378em 7px rgba(151, 255, 0, 0.9), 1.4596246829em 0.2376080685em 7px rgba(255, 0, 42, 0.9), 0.9692875382em 0.0315990422em 7px rgba(83, 0, 255, 0.9), 0.4703230064em 1.6672121247em 7px rgba(255, 0, 179, 0.9), 0.3989781454em 1.5620780009em 7px rgba(8, 255, 0, 0.9), 0.3696378569em -0.0595769048em 7px rgba(255, 0, 27, 0.9), -0.1370478557em 0.9230927025em 7px rgba(167, 0, 255, 0.9), 0.1939362951em 0.4977029532em 7px rgba(255, 0, 33, 0.9), 0.3632445702em -0.1395686815em 7px rgba(255, 220, 0, 0.9), 1.2876696475em 1.9777139784em 7px rgba(0, 112, 255, 0.9), 1.9050833719em 0.9677470288em 7px rgba(214, 255, 0, 0.9), 1.320099417em -0.4641540062em 7px rgba(0, 164, 255, 0.9), 0.0891142168em 0.7068834987em 7px rgba(10, 0, 255, 0.9), 1.7659838367em 1.3635819955em 7px rgba(218, 0, 255, 0.9), 1.929622396em 0.5479885392em 7px rgba(29, 255, 0, 0.9), 1.4667861511em 1.362418084em 7px rgba(255, 0, 27, 0.9), 1.0901039422em 0.4016328532em 7px rgba(0, 46, 255, 0.9), 0.0729423302em 1.915389073em 7px rgba(76, 255, 0, 0.9), 1.1761163609em 1.6480279354em 7px rgba(100, 255, 0, 0.9), 0.7655576208em 0.5149094376em 7px rgba(82, 0, 255, 0.9), 2.2189016437em 1.1432009438em 7px rgba(0, 204, 255, 0.9), -0.2149397923em -0.0008452912em 7px rgba(176, 255, 0, 0.9), -0.3472120532em 1.5119949226em 7px rgba(255, 0, 165, 0.9), 0.1166843709em -0.1461330145em 7px rgba(0, 159, 255, 0.9), 1.0913528512em 1.6350482973em 7px rgba(0, 169, 255, 0.9), 0.2604901091em -0.3898020575em 7px rgba(255, 0, 0, 0.9), 0.5763405525em 0.5419988677em 7px rgba(0, 255, 137, 0.9), 1.5050995196em 0.2307095431em 7px rgba(0, 113, 255, 0.9), 1.2667808225em 1.1766279535em 7px rgba(0, 255, 55, 0.9), 1.4745952402em 2.3356512984em 7px rgba(178, 0, 255, 0.9);
    animation-duration: 43s;
    animation-delay: -32s;
  }
  
  @keyframes move {
    from {
      transform: rotate(0deg) scale(12) translateX(-20px);
    }
    to {
      transform: rotate(360deg) scale(18) translateX(20px);
    }
  }

body {
    margin: 16px;
    font-family: 'Inter', sans-serif;
}

#title {
    color:rgb(255, 255, 255);
    border-bottom: solid;
    border-width: 3px;
    border-color: white;
    width: fit-content;
    font-size: 32px;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

#centered-div {
    background-color: white;
    width: 65ch;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    border-radius: 5px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#logo {
    color: black; 
    background-color: white; 
    padding: 0px;
    margin-top: 32px;
}

#card2 {
    flex: 1;
    padding-left: 32px;
    padding-right: 32px;
    position: relative;
}

#card2 img {
    margin-top: 32px;
}

#card1 {
    flex: 2;
    margin-left: 0px;
    border-radius: 5px;
    color: white;
    background-color: black;
    filter: drop-shadow(4px 4px 8px #000000);
    font-weight: 700;
}

img {
    border-radius: 5px 5px;
    max-width: 100%;
    margin-bottom: -4px;
}

#logo {
    color: white; 
    background-color: black; 
    padding: 30px;
}

#contact-link {
    position: fixed;
    bottom: 0;
    right: 16px;
    margin-bottom: 16px;
    text-align: right;
    color:rgb(255, 255, 255);
    text-decoration: none;
    border-bottom: solid;
    border-width: 3px;
    border-color: white;
    font-weight: 700;
}

#faq-link {
    position: fixed;
    bottom: 0;
    left: 16px;
    margin-bottom: 16px;
    text-align: right;
    color:rgb(255, 255, 255);
    text-decoration: none;
    border-bottom: solid;
    border-width: 3px;
    border-color: white;
    font-weight: 700;
}

.accordion {
    background-color: Gainsboro;
    padding: 16px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
}

.panel {
    padding: 0 18px;
    font-weight: 300;
    height: auto;
}

/* Use Google's hosted "Open Sans" font as display font in button */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600");

/* Button */
#eventbrite-widget-modal-trigger-216690415867 							{
    display:inline-block;
    position:relative;
    font-family:"Open Sans",Roboto,"Helvetica Neue",Helvetica,Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    color:#000!important;
    font-weight:600;
    line-height:100%;
    background:#fff;
    font-size:15px;
    text-decoration:none;
    border:1px solid transparent;
    padding:13px 12px 12px;
    -webkit-border-radius:3px;
    border-radius:3px;cursor:pointer;
    -webkit-font-smoothing:antialiased!important;
    outline-color:rgba(0,78,255,0.5);
    text-shadow:1px 1px 1px rgba(0,0,0,0.004);
    -webkit-user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    box-shadow:0 0 0 0.5px rgba(50,50,93,.17), 0 2px 5px 0 rgba(50,50,93,.1), 0 1px 1.5px 0 rgba(0,0,0,.07), 0 1px 2px 0 rgba(0,0,0,.08), 0 0 0 0 transparent!important;
}
#eventbrite-widget-modal-trigger-216690415867:hover 						{background-color:#fafafa;color:#000;font-size:15px;text-decoration:none;}
#eventbrite-widget-modal-trigger-216690415867:active 					{border-width:2px 1px 0px 1px;}
#eventbrite-widget-modal-trigger-216690415867-selected 					{background-color:#f9f9f9;}
#eventbrite-widget-modal-trigger-216690415867 .addeventatc_icon 			{width:18px;height:18px;position:absolute;z-index:1;left:12px;top:10px;background:url(../gfx/icon-calendar-t1.svg) no-repeat;background-size:18px 18px;}
#addevenventbrite-widget-modal-trigger-216690415867tatc .start, .addeventatc .end, .addeventatc .timezone, .addeventatc .title, .addeventatc .description, .addeventatc .location, .addeventatc .organizer, .addeventatc .organizer_email, .addeventatc .facebook_event, .addeventatc .all_day_event, .addeventatc .date_format, .addeventatc .alarm_reminder, .addeventatc .recurring, .addeventatc .attendees, .addeventatc .calname, .addeventatc .uid, .addeventatc .status, .addeventatc .method, .addeventatc .client, .addeventatc .transp {display:none!important;}
#eventbrite-widget-modal-trigger-216690415867 br 						{display:none;}

@media only screen and (max-width: 700px) {
    h2 {
        font-size: 24px;
    }

    h1 {
        font-size: 16px;
    }

    #centered-div {
      background: none;
      margin-left: 16px;
      width: fit-content;
      margin-right: 16px;
      flex-direction: column-reverse;
    }

    #contact-link {
        display: none;
    }

    #card1 {
        z-index: 0;
    }

    #logo {
        display: none;
    }

    #card2 {
        z-index: 1;
        margin-top: -3px;
        padding: 16px;
        margin-left: 0;
        background-color: white;
        border-radius: 0px 0px 5px 5px;
    }

    #card2 img {
        display: none;
    }
    
    #eventbrite-widget-modal-trigger-216690415867  {
        width: calc(100% - 24px);
    }
    
}